// Place all the styles related to the Deposit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deposit {
  height: 200px;
  background-color: #6287AA;
  max-width: 50%;
  position: relative;
  border: 1px solid black;
}


.date {
  float: right;
  clear: right;
  margin: 10px 10px 40px 0;
  
  
}


.from_and_amount {
  position: absolute;
  width: 100%;
  margin-top: 40px;
}

.payable_to {
  float: left;
  margin-left: 10px;
}




.amount {
  float: right;
  margin-right: 10px;
  
}

.select_and_submit {
  position: absolute;
  bottom: 5px;
  width: 90%;
}

.submit {
  float: right;
  margin-left: 50px;
}

.select {
  float: left;
  margin-left: 10px;
  padding: 10px;
}