<ul>
<% @accounts.each do |account| %>
  <li><%= account.name %>, Balance: <%= number_to_currency(account.ending_balance) %> | <%= link_to "View", account_path(account) %></li>

<% end %>
</ul>
<%= link_to "create a new account", new_account_path %>